{
  "presets": ["C:/Program Files/Mendix/9.10.1.37625/modeler/tools/node/node_modules/metro-react-native-babel-preset"],
  "plugins": [
    [
      "C:/Program Files/Mendix/9.10.1.37625/modeler/tools/node/node_modules/babel-plugin-inline-import",
      {
        "extensions": [".svg"]
      }
    ]
  ]
}